/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

section {
  margin-top: 2.5rem;
}

h1 {
  font-family: "Neusa Next Std";
}

h2 {
  font-family: "Neusa Next Std";
  font-style: italic;
  font-size: 2.5rem;
}

nav {
  background-color: #005640;
  color: white;
  max-height: 6rem;
  padding: 3rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  text-align: center;
  position: sticky;
  z-index: 2;
}

body {
  overflow: hidden;
}

.c-logo {
  max-width: 3rem;
}

.menu {
  max-width: 2rem;
}

#gold {
  color: #aa9766;
}

.puzzle {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}

.puzzle img {
  height: 3rem;
  width: 3rem;
}

.instructions {
  text-align: center;
}

.workspace-div,
.final-div {
  height: 30rem;
  width: 25rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 5px lightgray;
  align-content: center;
  justify-content: center;
}

.final-div {
  display: flex;
  align-items: center;
}

.workspace-div {
  display: flex;
  padding: 5rem 2rem 2rem 2rem;
}

.workspace-column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

/* display: grid;
  grid-template-columns: (2, 1fr);
  grid-template-rows: masonry; 
  */

#sac-body {
  height: 20rem;
  width: 10rem;
}

#sac-body:hover {
  opacity: 80%;
}

#sac-body.active {
}

#sac-circle {
  height: 4rem;
  width: 4rem;
}

#sac-circle:hover {
  opacity: 80%;
}

#sac-circle.active {
}

#sac-square {
  height: 5rem;
  width: 5rem;
}

#sac-square:hover {
  opacity: 80%;
}

#sac-square.active {
}

#sac-triangle {
  height: 4rem;
  width: 10rem;
}

#sac-triangle:hover {
  opacity: 80%;
}

#sac-triangle.active {
}

.final-div img {
  height: 20rem;
  width: 10rem;
}

.down {
  height: 3rem;
  width: 3rem;
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
}

#slide-reference {
  display: flex;
  align-items: center;
  width: 40rem;
  height: 100vh;
  padding: 5rem 3rem 5rem 0rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(79%);
  background-color: white;
}

.slide-bg {
  background-color: white;
}

#slide-reference.active {
  transform: translateX(0);
}

#slide-reference img {
  height: 30rem;
}

.reference {
  color: white;
  background-color: #005640;
  font-family: "Neusa Next Std";
  border-radius: 1rem 1rem 0rem 0rem;
  border: none;
  padding: 1rem 1rem 0.5rem 1rem;
  font-size: 2rem;
  transform: rotate(270deg);
  font-weight: 500;
}

/* Desktop Only Styles
Desktop @media (min-width: 48em) { */
nav {
  display: flex;
}
